/node_modules
package-lock.json
package.json
/images/icons/*

!/images/icons/handbag.svg
!/images/icons/input-cursor-text.svg
!/images/icons/fonts.svg
!/images/icons/grid-3x3.svg
!/images/icons/layout-text-window.svg
!/images/icons/card-list.svg
!/images/icons/check-square.svg
!/images/icons/ui-radios.svg
!/images/icons/sliders.svg
!/images/icons/lock.svg
!/images/icons/floppy.svg
!/images/icons/gear-fill.svg
!/images/icons/arrow-counterclockwise.svg